body {
  max-width: 100%;
  margin: 0;
  /*font-family: Helvetica,Arial,sans-serif;*/
  font-family: Georgia, serif;
  font-size: 22px;
  background: url(../img/fundo.jpg) no-repeat;
  background-size: cover;
}

/*Nav bar start*/

ul {
  margin: 0;
  padding-bottom: 20px;
  list-style: none;
  /* background: #35363a; */
  text-align: center;
}

#top {
  background: #35363a8e;
}

ul li {
  display: inline;
  margin: 4%;
}

a {
  text-decoration: none;
}

ul a {
  font-size: 20px;
  color: white;
}

ul a:hover {
  color: #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  font-size: 21px;
}

body .home a,
#login .login a {
  color: #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

/*Nav bar end*/

#KOP {
  padding-top: 40px;
  padding-bottom: 10px;
  color: white;
  margin-top: -10px;
  font-size: 30px;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 1px solid red;
  height: fit-content;
  background: black;
  text-align: center;
  padding: 0.5%;
  color: white;
  font-size: 16px;
  /* margin-top: 50%; */
}

form {
  color: white;
  margin-top: 40%;
  margin-left: 40%;
}
