body{
	width: 100%;
	margin: 0;
	/*font-family: Helvetica,Arial,sans-serif;*/
    font-family: Georgia, serif; 
    font-size: 22px;
    background: url(../img/fundo.jpg);
    	background-size: cover;
}

/*Nav bar start*/



ul{
	margin: 0;
	padding-bottom: 20px;
	list-style: none;
	background:#35363A no-repeat; 
	text-align: center;


}

ul li{
	display: inline;
	display: inline;
	padding: 8%;

}

ul a{
	text-decoration: none;
	font-size: 20px;
	color: white;
}

ul a:hover{
	color: 	#D3D3D3;
	border-bottom: 1px solid #D3D3D3 ;

}


#index .home a,
#login .entrar a {
	color: 	#D3D3D3;
	border-bottom: 1px solid #D3D3D3 ;
}


/*Nav bar end*/


#KOP{
	padding-top: 40px;
	padding-bottom: 10px;
	color: white;
	margin-top: -10px;
	font-size: 30px;
	text-align: center;

}



footer{
	margin: 1px solid red;
	height: 150px;
	background: black;
	text-align: center;
	color: white;
	font-size: 16px;
	margin-top: 50%;
}

form{
	color: white;
	margin-top: 40%;
	margin-left: 40%; 

}